name: check

on:
  push:
  pull_request:

env:
  SCCACHE_GHA_ENABLED: true
  RUSTC_WRAPPER: sccache
  CARGO_INCREMENTAL: 0

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        runs-on:
          - ubuntu-24.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v6
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.55.0
          activate-environment: true
      - uses: mozilla-actions/sccache-action@v0.0.9
      - run: cargo build --workspace --all-features --all-targets
      - run: cargo test --workspace --all-features
      - run: cargo clippy --workspace --all-features --all-targets -- -Dwarnings
      - run: cargo fmt --all --check
